.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
#soyelmapa{
  left:0;
  top:0;
  width: 752px;
  height: 432px;
  position:absolute;
}
#search{
  color:grey;
  border-color: grey;
}
