header{
background-color: black;
box-sizing: border-box;
}
header ul{
list-style-type: none;
display: flex;
flex-wrap: wrap;
margin-top: 30px;
font-size: 20px;
font-style: italic;
}
header li{
margin-right: 20px;

}
ul.links{
  margin-top: 20px;
}
header nav{
 display: flex;
 flex-wrap: wrap;
}
header form{
  display: flex;
  margin top:40px;
  }
header form input{
  width: 150px
  margin-right:10px;
}
header form button{
  height: 30px;
  margin top:40px;
}
header ul img{
  width: 40px;
  border-radius: 50%;
  position relative;
  bottom: 8px;
  margin left: 5px;
  margin-right: 10px;
}
.container-fluid{
  background-color: #17202A ;
  color: white;
  width: 100%;
}

#logo {
  top: 20px;
  left: 5px;
  width: 10%;
  border-radius: 90px;
  border: 1px solid #ccc;
}
#search{
  color:grey;
  border-color: grey;
}
.carousel{

  margin-top: 4em;
  position: relative;

}
.container{
  max-width: 1400px!important;
  padding: 0;
}
#carouselnegro{
  color:black;
  font-size: 50px;
}

p{
  font-size: 25.7px;
}

.navbar-collapse{
  text-align: center;
}
@media (min-width: 576px)
.form-inline .form-control {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}
@media (min-width: 1200px)
.container{
    max-width: 1323px;
    padding: 0;
}
footer{
  margin-top: 60px;
}
