body{
background-color: grey;
box-sizing: border-box;
}
 header ul{
list-style-type: none;
display: flex;
flex-wrap: nowrap;

}
nav{
  background-color:#424949  ;
;

}
 header ul li{
margin-right: 20px;
color:grey;
}
header ul li a{
color:grey;
}
ul.links{
  text-align: center;
  margin-top: 10px;
  color:grey;
}

 nav form{
  display: flex;
    }


header ul img{
  width: 40px;
  border-radius: 50%;
  position relative;
  bottom: 8px;
  margin left: 5px;
  margin-right: 10px;
}
.container-fluid{
  background-color: #17202A ;
  color: white;
  width: 100%;
}
.container-faq{
  margin-top: 3%;
  margin-bottom: 3%;
}
.container-faq h3{
  background-color: #BDC3C7;
  height: 48px;

}
.container-faq p{
  font-size: 20px;

}

#search{
  display: flex;
  justify-content: space-around; 
  text-align: center;
  color: white;
  background-color: #7F8C8D;
  border-color: #7F8C8D;



}
.carousel{

  margin-top: 4em;
  position: relative;

}
.container{
  max-width: 1400px!important;
  padding: 0;
}
#carouselnegro{
  color:black;
  font-size: 50px;
}

p{
  font-size: 25.7px;
}

.navbar-collapse{
  text-align: center;
}
@media (min-width: 576px)
.form-inline .form-control {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}
@media (min-width: 1200px)
.container{
    max-width: 1323px;
    padding: 0;
}
footer{
  margin-top: 60px;
}
