body{
  background-color: grey;
box-sizing: border-box;
}
ul.links{
list-style-type: none;
display: flex;
flex-wrap: wrap;
margin-top: 20 px;

}
li{
margin-right: 10px;

}
.container-fluid{
  background-color: #17202A ;
  color: white;
  width: 100%;
}
h1{
color: white;
}
#logo {
  top: 20px;
  left: 5px;
  width: 10%;
  border-radius: 90px;
  border: 1px solid #ccc;
}
#search{
  color:grey;
  border-color: grey;
}
.carousel{

  margin-top: 4em;
  position: relative;

}
.container{
  max-width: 1400px!important;
  padding: 0;
}
#carouselnegro{
  color:black;
  font-size: 50px;
}

p{
  font-size: 25.7px;
}

.navbar-collapse{
  text-align: center;
}
@media (min-width: 576px)
.form-inline .form-control {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
}
@media (min-width: 1200px)
.container{
    max-width: 1323px;
    padding: 0;
}
footer{
  margin-top: 60px;
}
