div.container{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(15,15,15,1) 100%);
}
#banner{
  background-image:url("../imagenes/bannermusic.jpg");
  margin-top: 3em;
  height: 65%;
}
#banner h1{
color: white;
font-weight: bold;
font-size: 400%;
font-family: 'Playfair Display', serif;
}
div.estilo{
  padding-left: 20%;
}
div.card-body a{
  text-decoration: none;
  color: black!important;
}
#banner h2{
color: white;
font-size: 300%;
font-family: 'Playfair Display', serif;
font-weight: bold;
}
#banner a{
  width: 30%;
}
ul.footer{
  list-style: none;
}
div.card.mb-3{
  margin: 0 auto;
}
div.card.mb-3 p{
font-family: 'Fauna One', serif;
}
div.card-body btn{
  background-color: #eff43c;
}
